// tabs高度
$tabs-height: var(--zs-custom-tabs-height);
// nav-bar高度
$nav-height: 60px;

// 左侧菜单栏高度
$menu-left-height: calc(100vh - var(--zs-custom-nav-height));
// 背景颜色
$bg-color: #fff;
// 左侧菜单栏背景色
// $menu-left-bg-color:  #161823;
// 导航栏背景色
$nav-bg-color: #fff;// #282c34;
// padding边距
$base-padding: 10px;
// 圆角
$border-radius: 4px;
// 头部容器高度
$header-box-height: 50px;
// 底部容器高度
$footer-box-height: 50px;
// 头部容器和中部容器间隔margin
$header-margin-bottom: 10px;
// 工具栏高度
$zs-toolbar-height: 40px;
// 底部授权信息高度
$zs-footer-height: var(--zs-auth-footer-height);

// 页面高度
$app-main-height: calc(100vh - var(--zs-custom-nav-height) - var(--zs-custom-tabs-height) - $base-padding * 2 - $zs-footer-height);
// 中部容器高度
$main-box-height: calc($app-main-height - $header-box-height - $zs-toolbar-height - $footer-box-height - $base-padding * 2);
