// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@import './mixin.scss';
@import './common.scss';

:root {
  // --zs-aside-bg-color: var(--zs-color-primary);
  // --zs-container-height: $main-box-height;
  
}
html,
body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

.zs-button:focus-visible{
  outline: none !important;
}
// 抽屉
.zs-drawer {
  .zs-drawer__header{
    color: var(--zs-text-color-primary);
    margin-bottom: 0;
    border-bottom: 1px solid var(--zs-border-color);
    background-color: var(--zs-bg-color);
    font-weight: var(--zs-font-weight-primary);
    padding: 15px !important;
  }
  .zs-drawer__footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--zs-border-color);
    padding: 10px 20px !important;
  }
}

.zs-table {
  --zs-table-text-color: var(--zs-text-color-regular) !important;
  --zs-table-header-bg-color: var(--zs-bg-color-page) !important;
  --zs-table-header-text-color: var(--zs-text-color-regular) !important;
}

.zs-dialog.is-fullscreen{
  .zs-dialog__header{
    height: 40px;
  }
  .zs-dialog__body{
    height: calc(100vh - 100px - 32px);
  }
  .zs-dialog__footer{
    height: 60px;
    position: fixed;
    width: 100%;
    padding: var(--zs-dialog-padding-primary) 20px;
    bottom: 0;
    right: 0;
    // border-top: 1px solid var(--zs-border-color);
  }
}


// 暗黑模式下的样式
html.dark {
  --zs-bg-color: #141414;
  --zs-aside-bg-color: #141414;
  
}
// 正常模式下样式
html.light {
  // --zs-menu-hover-bg-color: var(--zs-color-primary);
  // --zs-menu-bg-color: #141414;
  // --zs-menu-text-color: #fff;
  // --zs-menu-active-color: #fff;
  

  
}